JWT_SECRET=change-this-to-a-random-32-char-string
ENCRYPTION_SECRET=change-this-to-a-random-32-char-string
MONGO_URI=mongodb://lifelink:lifelink_secure@localhost:27017/lifelink?authSource=admin
MONGO_USER=lifelink
MONGO_PASSWORD=lifelink_secure
GRAFANA_USER=admin
GRAFANA_PASSWORD=lifelink
FRONTEND_URL=http://localhost:3000
ML_SERVICE_URL=http://localhost:8000
